.opener {
  color: blue;
}

body {
  font-family: 'Chonburi', cursive;
  font-family: 'Rozha One', serif;
  background-color: snow;
  text-shadow: 2px 2px #4b4646;
  
}

.body-title {
  text-align: center;
  font-size: 75px;
  color: rgb(207, 45, 45);
  padding-top: px;
  margin: 50px;
  text-shadow: 2px 2px #4b4646;

  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.body-first-list {
  text-align: center;
  font-size: 35px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style:ridge

}

.img1 {
  width: 500px;
}

.img2 {
  width: 500px;
}

.card {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: px;
}
.card .img1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img1 {
  display: inline;
}

p {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style: ridge;
}

.radio {
  text-align: center;
  font-size: 50px;
}

.question1-2-3-4-5 {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style: ridge;
}

.question2 {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style: ridge;
}

.question3 {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style: ridge;
}

.question4 {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style: ridge;
}

.question5 {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
  border-style: ridge;
}

.response {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 10px;
  color:snow;
  background-color:rgb(207, 45, 45);
  border-style: ridge;
}

center {
  margin: 50px;
}

.btn-danger.btn-outline:hover {
  color:slategrey;
  text-align: center;
}  

#javascript {
  display: none;
}

#csharp {
  display: none;
}

#ruby {
  display: none;
}

#no {
  display: none;
}


label {
  
  font-size: 50px;
}

label:hover {
  color:rgb(28, 114, 226);
}