.opener {
  color: blue;
}

body {
  font-family: 'Chonburi', cursive;
  font-family: 'Rozha One', serif;
  background-color:snow
  
}

.body-title {
  text-align: center;
  font-size: 125px;
  color:slategrey;
  padding-top: px;
  margin: 50px;
}

.body-first-list {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;

}

.img1 {
  width: 500px;
}

.img2 {
  width: 500px;
}

.card {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: px;
}
.card .img1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img1 {
  display: inline;
}

p {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 50px;
  border-radius: 50px;
  color:snow;
  background-color: slategrey;
}

.question1 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin: 50px;
    border-radius: 50px;
    color:snow;
    background-color: slategrey;
  }